/* kv use */
#kv .content.left, #kv .content.right, #kv .slide_bar{
    display: none;
}
.content.left {
    background: initial;
}
.content.right {
    background: initial;
}
.content.left.car {
    background: url(../images/theme1_01.jpg) no-repeat center top;
    background-size: cover;
}
.content.right.car {
    background: url(../images/theme1_02.jpg) no-repeat center top;
    background-size: cover;
}
.content.left.wedding {
    background: url(../images/theme2_01.jpg) no-repeat center top;
    background-size: cover;
}
.content.right.wedding {
    background: url(../images/theme2_02.jpg) no-repeat center top;
    background-size: cover;
}
.content.left.school {
    background: url(../images/theme3_01.jpg) no-repeat center top;
    background-size: cover;
}
.content.right.school {
    background: url(../images/theme3_02.jpg) no-repeat center top;
    background-size: cover;
}
.content.left.son {
    background: url(../images/theme4_01.jpg) no-repeat center top;
    background-size: cover;
}
.content.right.son {
    background: url(../images/theme4_02.jpg) no-repeat center top;
    background-size: cover;
}

/* pie Chart use*/
#control .pie1{
    opacity: 0;
    transform: translate(-50px, -50px);
    transition: transform .75s ease, opacity .75s ease;
}
#control .pie2{
    opacity: 0;
    transform: translate(50px, -50px);
    transition: transform .75s ease, opacity .75s ease;
}
#control .pie3{
    opacity: 0;
    transform: translate(0, 50px);
    transition: transform .75s ease, opacity .75s ease;
}
#control .pie1.instage, #control .pie2.instage, #control .pie3.instage{
    opacity: 1;
    transform: translate(0, 0);
}

/* five circle use*/
#weapon .icon_wrap img{
    transform: scale(.7);
}
#weapon .icon_wrap.shake img{
    animation: shake 3s ease infinite;
}
#weapon .icon_wrap.shake1 img{
    animation-delay: 0s;
}
#weapon .icon_wrap.shake2 img{
    animation-delay: .125s;
}
#weapon .icon_wrap.shake3 img{
    animation-delay: .25s;
}
#weapon .icon_wrap.shake4 img{
    animation-delay: .375s;
}
#weapon .icon_wrap.shake5 img{
    animation-delay: .500s;
}
@keyframes shake{
    0% {
        transform: scale(.7);
    }
    30% {
        transform: scale(.7);
    }
    50%{
        transform: scale(1);
    }
    70%{
        transform: scale(.7);
    }
    100%{
        transform: scale(.7);
    }
}
@media screen and (max-width: 400px) {
    #weapon .icon_wrap img{
        transform: scale(.7);
    }
    #weapon .icon_wrap.shake img{
        animation: shake 3s ease infinite;
    }
    #weapon .icon_wrap.shake1 img{
        animation-delay: 0s;
    }
    #weapon .icon_wrap.shake2 img{
        animation-delay: .275s;
    }
    #weapon .icon_wrap.shake3 img{
        animation-delay: .55s;
    }
    #weapon .icon_wrap.shake4 img{
        animation-delay: .825s;
    }
    #weapon .icon_wrap.shake5 img{
        animation-delay: 1.1s;
    }
    @keyframes shake{
        0% {
            transform: scale(.7);
        }
        30% {
            transform: scale(.7);
        }
        50%{
            transform: scale(1);
        }
        70%{
            transform: scale(.7);
        }
        100%{
            transform: scale(.7);
        }
    }
}